@import url(https://fonts.googleapis.com/css?family=Roboto);
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.modalDialog {
  max-width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 25px;
  background: #fff;
}

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}
